In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import os
os.chdir('/content/drive/My Drive/HuTao Bot')

In [ ]:
!ls

Hu_Tao_quotes.txt

In [ ]:
import re
import pandas as pd

In [ ]:
pattern = r'([a-zA-Z\s]+):(.+)'

In [ ]:
data = {
    'name': [],
    'line': []
}

In [ ]:
with open('Hu_Tao_quotes.txt', 'rt') as file:
  for line in file.readlines():
    match = re.findall(pattern, line)
    if match:
      name, line = match[0]
      data['name'].append(name)
      data['line'].append(line)

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,318,319,320,321,322,323,324,325,326,327
name,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,Hu Tao,...,None,None,None,None,None,None,None,None,None,None
line,Wanna come over for tea?,"One client, two clients, three clients!",Yo! Afternoon! Had lunch?,"When the sun's out, bathe in sunlight. But wh...",*sigh* What a bummer...,"Well are those who rise in the early morn, wh...","Oh, you sleepy? Get some rest, I'm gonna take...","Hu as in ""Who put me in this coffin?"" and Tao...","Run around all you like during the day, but y...","Need a hand, need a hand? I'm here! If you ne...",...,Did you just say arson.,*loud rapping noises*,Today I am evil again.,The best part of an oreo is the black cookie ...,"Just woke up, swag is on.",I'll be accepting apologies rn (cash only),"Ah dont mind me traveler, I was just thinking...","One time Childe called me and said ""Hello is ...",Xiao is cool and all but can he summon a litt...,Time to teach you crimes!

In [ ]:
sum(df['name'] == 'Hu Tao')

163

In [ ]:
len(df)

163

In [ ]:
df.to_csv('hu_tao.csv', index=False)